body {
    overflow-y: scroll;
    font: 16px monospace, monospace;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
nav,
main,
header,
footer,
section {
    all: unset;
    margin: 0;
    padding: 0;
}
#container {
    display: table;
    margin: 16px auto;
    max-width: 100%;
    box-sizing: border-box;
    padding: 16px;
}
strong a {
    text-decoration: none;
    color: #000;
}
@media (max-width: 600px) {
    pre {
        font-size: 2vw;
    }
}
