:root {
  --width: calc(60ch + 2rem);
}

*,
:before,
:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font: 16px sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

main li {
    display: grid;
    grid-template-columns: 5ch 1fr auto;
    gap: 0.5rem;
    align-items: baseline;
    width: 100%;
}

main li span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.d {
    justify-self: end;
    font-variant-numeric: tabular-nums;
}

a {
  text-decoration: none;

  &:hover {
	  text-decoration: underline;
  }
}

.c {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 1rem;
}
